<div class="image-container">
    <% if(imgSrc){ %>
        <div>
            <img class="image-painting" src="<%= imgSrc %>" alt="ai generated image">
            <p class="img-title"><%= prompt %></p>
        </div>
    <% } %>
</div>
