<div class="prompt-container">
    <h1 class="title">Generuj obraz</h1>
    <form method="POST" action="/" class="form-container">
        <label>
            <textarea class="prompt-input"  name="prompt" ><%= prompt %></textarea>
        </label>
        <button class="submit-button" type="submit" >Wyślij</button>
    </form>
</div>
