body {
    background-color: whitesmoke;
}

header {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.main-title {
    font-size: 2.2rem;
    font-weight: 300;
}

.main-subtitle {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
}

.main-container {
    margin-block-start: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.images-container {
    inline-size: 90vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
}

.image-container {
    inline-size: 32rem;
}

.img-title {
    color: grey;
    font-style: oblique;
    text-transform: capitalize;
    padding-inline: .5rem;
    margin-block-start: .5rem;
    margin-block-end: .5rem;
}

.news-src {
    display: flex;
    justify-content: center;
    gap: 1rem;
    color: grey;
    font-style: oblique;
    text-transform: uppercase;
    text-align: center;
    margin-block-start: .5rem;
    font-size: .8rem;
}

@media screen and (max-width: 512px) {
    .image-painting {
        width: 96vw;
    }
}


