.main-container {
    margin-block-start: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prompt-container {
    margin-block-end: 2rem;
}

.title {
    font-size: 1.5rem;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.prompt-input {
    inline-size: 20rem;
    block-size: 3rem;
    resize: none;
    padding-inline: .5rem;
    padding-block: .5rem;
}

.submit-button {
    background-color: #FFFFFF;
    border: 1px solid #3a3939;
    border-radius: .5rem;
    box-sizing: border-box;
    color: #222222;
    cursor: pointer;
    display: inline-block;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 20px;
    margin: 0;
    outline: none;
    padding-inline: 23px;
    padding-block: 13px;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition: box-shadow .2s, -ms-transform .1s, -webkit-transform .1s, transform .1s;
    user-select: none;
    -webkit-user-select: none;
    width: auto;
}

.submit-button:focus-visible {
    box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
    transition: box-shadow .2s;
}

.submit-button:active {
    background-color: #F7F7F7;
    border-color: #000000;
    transform: scale(.96);
}

.submit-button:disabled {
    border-color: #DDDDDD;
    color: #DDDDDD;
    cursor: not-allowed;
    opacity: 1;
}

.image-container {
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    flex-wrap: wrap;
}

.img-title {
    color: grey;
    font-style: oblique;
    text-transform: capitalize;
    padding-inline: .5rem;
    margin-block-start: .5rem;
}

@media screen and (max-width: 512px) {
    .image-painting {
        width: 96vw;
    }
}


