<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>The art of daily news</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/flag-icons.min.css">
    <link rel="icon" type="image/x-icon" href="icons/favicon.ico">
</head>
<body>
<header>
    <h1 class="main-title">The art of daily news</h1>
    <h2 class="main-subtitle">everyday ai generated images based on news headlines</h2>
</header>
<div class="main-container">
    <%- include('../partials/images') %>
</div>
</body>
</html>



