<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Ai painter</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<div class="main-container">
    <%- include('../partials/prompt') %>
    <%- include('../partials/image') %>
</div>
</body>
</html>



